.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.imageWrapper {
  width: 25%;
  padding: 2%;
}

.image {
  width: 100%;
  border-radius: 5%;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}