
body {
  background-color: rgba(240, 249, 232, 0.47);
  font-family: Verdana, sans-serif;
  width: 800px;
  margin: auto
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 1px;
}

p {
  margin: 1px;
}

#header {
  clear: both;
  margin-bottom: 20px;
}

#identity {
  float: left;
}

#name {
  font-size: 36px;
  margin-bottom: -5px;
}

#location {
  float: right;
  margin-right: 10px;
  margin-bottom: 1px;
  font-size: 18px;
}

#social {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

#social img {
  width: 50px;
}

#twitter {
  background-color: #55acee;
  border-radius: 5px;
}

#github {
  background-color: #000000;
  border-radius: 5px;
}

#name h3 {
  padding-left: 10px;
}

#information {
  clear: both;
}

.information-item {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.job-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.description {
  font-size: 14px;
  margin-bottom: 10px;
}